:host {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    > div {
        position: relative;
        width: 100%;

        img.source-image {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .cropper {
        position: absolute;
        display: flex;
        color: #53535C;
        background: transparent;
        outline-color: rgba(255,255,255,0.3);
        outline-width: 100vw;
        outline-style: solid;
        touch-action: none;

        @media (orientation: portrait) {
            outline-width: 100vh;
        }

        &:after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            border: dashed 1px;
            opacity: .75;
            color: inherit;
            z-index: 1;
        }

        .move {
            width: 100%;
            cursor: move;
            border: 1px solid rgba(255,255,255,0.5);
        }

        .resize {
            position: absolute;
            display: inline-block;
            line-height: 6px;
            padding: 8px;
            opacity: .85;
            z-index: 1;

            .square {
                display: inline-block;
                background: #53535C;
                width: 8px;
                height: 8px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                box-sizing: content-box;
            }

            &.topleft {
                top: -12px;
                left: -12px;
                cursor: nwse-resize;
            }
            &.top {
                top: -12px;
                left: calc(50% - 12px);
                cursor: ns-resize;
            }
            &.topright {
                top: -12px;
                right: -12px;
                cursor: nesw-resize;
            }
            &.right {
                top: calc(50% - 12px);
                right: -12px;
                cursor: ew-resize;
            }
            &.bottomright {
                bottom: -12px;
                right: -12px;
                cursor: nwse-resize;
            }
            &.bottom {
                bottom: -12px;
                left: calc(50% - 12px);
                cursor: ns-resize;
            }
            &.bottomleft {
                bottom: -12px;
                left: -12px;
                cursor: nesw-resize;
            }
            &.left {
                top: calc(50% - 12px);
                left: -12px;
                cursor: ew-resize;
            }

        }
        .resize-bar {
            position: absolute;
            z-index: 1;

            &.top {
                top: -11px;
                left: 11px;
                width: calc(100% - 22px);
                height: 22px;
                cursor: ns-resize;
            }
            &.right {
                top: 11px;
                right: -11px;
                height: calc(100% - 22px);
                width: 22px;
                cursor: ew-resize;
            }
            &.bottom {
                bottom: -11px;
                left: 11px;
                width: calc(100% - 22px);
                height: 22px;
                cursor: ns-resize;
            }
            &.left {
                top: 11px;
                left: -11px;
                height: calc(100% - 22px);
                width: 22px;
                cursor: ew-resize;
            }
        }

        &.rounded {
            outline-color: transparent;

            &:after {
                border-radius: 100%;
                box-shadow: 0 0 0 100vw rgba(255,255,255,0.3);

                @media (orientation: portrait) {
                    box-shadow: 0 0 0 100vh rgba(255,255,255,0.3);
                }
            }
            .move {
                border-radius: 100%;
            }
        }
    }
}
