.wrap {
  min-height: 100%;
  position: relative;
}

.loading {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 99;
  }

}

.image-wrapper {
  text-align: center;
  margin: 20px auto;
}
