<section class="wrap"
         [class.loading]="isLoading">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="container"
       *ngIf="error">
    <div class="alert alert-danger">{{error}}</div>
  </div>

  <div *ngIf="leftImages"
       class="container text-center my-2">
    Осталось картинок: <strong>{{leftImages}}</strong>
  </div>

  <section *ngIf="currentStep === steps.LOAD">
    <div class="container">
      <div class="jumbotron">
        <p class="lead">Ваша задача состоит в том, чтобы выделять радужную оболочку и зрачок на каждой картинке глаза,
          что придет с сервера.</p>
        <hr class="my-2">
        <p>Если картинка невалидна, вам нужно удалить ее и приложение автоматически подгрузит следующую</p>
        <button class="btn btn-info"
                (click)="getResource()">Запросить картинку для анализа</button>
      </div>
    </div>
  </section>
  <section *ngIf="currentStep === steps.IMAGE">
    <div class="container">
      <div class="d-flex">
        <button class="btn btn-primary"
                (click)="initIris()">Начать процедуру идентификации</button>
        <button class="btn btn-danger ml-auto"
                (click)="deleteResource()">Удалить изображение</button>
      </div>
    </div>
    <div class="image-wrapper">
      <img [src]="loadedImage" />
    </div>
  </section>

  <section *ngIf="currentStep === steps.IRIS">
    <div class="container">
      <div class="d-flex justify-content-between">
        <button class="btn btn-warning"
                (click)="initPupil()">Сохранить параметры радужной оболочки</button>
        <button class="btn btn-danger"
                (click)="deleteResource()">Удалить изображение</button>
      </div>
    </div>
    <div class="image-wrapper">
      <image-cropper [imageBase64]="cropperInputImage"
                     [roundCropper]="true"
                     format="png"
                     (cropperReady)="stopLoading()"
                     (imageCropped)="irisCropped($event)"></image-cropper>
    </div>
    <div class="container">
      <div class="alert alert-warning">
        Выберите радужную оболочку глаза
      </div>
      <h4>
        Параметры радужной оболочки:
      </h4>
      <dl>
        <dt>Радиус</dt>
        <dd>{{formData.iris_radius}} px</dd>
        <dt>Центр X</dt>
        <dd>{{formData.iris_center_x}} px</dd>
        <dt>Центр Y</dt>
        <dd>{{formData.iris_center_y}} px</dd>
      </dl>
    </div>
  </section>

  <section *ngIf="currentStep === steps.PUPIL">
    <div class="container">
      <div class="d-flex justify-content-between">
        <button class="btn btn-success"
                (click)="initSubmit()">Сохранить параметры зрачка глаза</button>
        <button class="btn btn-danger"
                (click)="deleteResource()">Удалить изображение</button>
      </div>
    </div>
    <div class="image-wrapper">
      <image-cropper [imageBase64]="cropperInputImage"
                     [roundCropper]="true"
                     format="png"
                     (cropperReady)="stopLoading()"
                     (imageCropped)="pupilCropped($event)"></image-cropper>
    </div>
    <div class="container">
      <a href="#"
         (click)="setStep(steps.IRIS, $event)"
         class="d-block mb-3">Вернуться к выбору радужной оболочки</a>
      <div class="alert alert-success">
        Выберите зрачок глаза
      </div>
      <h4>
        Параметры зрачка глаза:
      </h4>
      <dl>
        <dt>Радиус</dt>
        <dd>{{formData.pupil_radius}} px</dd>
        <dt>Центр X</dt>
        <dd>{{formData.pupil_center_x}} px</dd>
        <dt>Центр Y</dt>
        <dd>{{formData.pupil_center_y}} px</dd>
      </dl>


    </div>
  </section>

  <section *ngIf="currentStep === steps.SUBMIT">
    <div class="container">
      <a href="#"
         (click)="setStep(steps.PUPIL, $event)"
         class="d-block mb-3">Вернуться к выбору радужной оболочки</a>
      <h4>
        ID-изображения:
        <div>
          <strong>
            {{ formData.image_id }}
          </strong>
        </div>
      </h4>
      <div class="row">
        <div class="col-6">
          <h4>
            Параметры радужной оболочки:
          </h4>
          <dl>
            <dt>Радиус</dt>
            <dd>{{ formData.iris_radius }} px</dd>
            <dt>Центр X</dt>
            <dd>{{ formData.iris_center_x }} px</dd>
            <dt>Центр Y</dt>
            <dd>{{ formData.iris_center_y }} px</dd>
          </dl>
        </div>
        <div class="col-6">
          <h4>
            Параметры зрачка глаза:
          </h4>
          <dl>
            <dt>Радиус</dt>
            <dd>{{ formData.pupil_radius }} px</dd>
            <dt>Центр X</dt>
            <dd>{{ formData.pupil_center_x }} px</dd>
            <dt>Центр Y</dt>
            <dd>{{ formData.pupil_center_y }} px</dd>
          </dl>
        </div>
      </div>
      <button class="btn btn-primary"
              (click)="submit()">Отправить данные на сервер</button>
    </div>
  </section>
</section>
